* {
	box-sizing: border-box;
}

body {
	font-family: system-ui;
	background-image: url("http://localhost:8080/fds/img/background.png");
}

nav {
	background-color: #2ca735;
	justify-content: space-between;
	border-radius: 4px;
	-webkit-box-shadow: 0 -1px 4px 0 rgb(26 26 26/ 8%), 0 4px 8px 0
		rgb(26 26 26/ 12%);
}

.nav-links {
	list-style: none;
	padding-left: 0;
}

.nav-item a {
	padding-left: 0px;
	padding: 10px 15px;
	text-decoration: none;
	color: white;
	justify-content: center;
}

.nav-item:hover {
	background-color: white;
}

.nav-item:hover a {
	color: darkgreen;
}

.logo img {
	width: 30%;
	vertical-align: middle;
	padding: 10px;
}

nav, .logo, .nav-item a, .nav-links {
	display: flex;
}

.list {
	display: flex;
	justify-content: center;
}

.bpx {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	flex-direction: column;
}

.container1 {
	display: flex;
}

.search {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.column1 {
	flex: 1;
}

.column2 {
	flex: 0.5;
	display: flex;
	align-items: center;
}

.options {
	margin-top: 3%;
	display: flex;
	flex-direction: row;
	flex: 1;
}

.search>input {
	border: 2px solid #2ca735;
	border-radius: 4px;
	font-size: 16px;
	margin-bottom: 6%;
}

.options>select {
	border: 2px solid #2ca735;
	border-radius: 4px;
	width: 100%;
	margin-left: 10%;
	cursor: pointer;
}

button {
	background-color: #2ca735;
	border: 2px solid #2ca735;
	border-radius: 4px;
	color: #fff;
	text-align: center;
	font-size: 16px;
	flex: 1;
	padding: 15% 0 15% 0;
	cursor: pointer;
	margin-left: 9%;
}

.wall {
	display: flex;
	flex-wrap: wrap;
	margin-top: 3%;
}

.item {
	flex: 1;
	display: flex;
	flex-direction: row;
	max-width: 30%;
	margin-left: 3%;
	margin-bottom: 3%;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	background-color: #fff;
	padding: 2%;
}

.detail {
	display: flex;
	flex-direction: column;
	margin-left: 2.5%;
	justify-content: space-evenly;
	flex: 1;
}

.item>img {
	flex: 1;
	min-width: 0%;
	min-height: 0%;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

p {
	text-align: center;
	font-size: 17px;
	color: white;
	background-color: #2ca735;
	border-radius: 5px 5px 0 0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	margin-bottom: 0;
}

.container0 {
	display: flex;
	flex-direction: column;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	background-color: #fff;
	padding: 2%;
}

.container2 {
	display: flex;
	flex: 1;
	margin-top: 5%;
}

.container01 {
	width:30%;
}


.purchase, .sale>div:nth-last-child(-n+3) {
	flex: 1;
}


.purchase, .sale {
	display: flex;
	flex-direction: column;
}

@media screen and (max-width: 600px) {
	.nav-links, nav {
		flex-direction: column;
	}
	.logo, nav {
		justify-content: center;
	}
	.container1 {
		flex-direction: column;
	}
	.container01 {
	width:100%;
}
	.wall {
		align-items: center;
		flex-direction: column;
		margin-top: 6%;
	}
	.item {
		max-width: 95%;
		margin-right: 3%;
		margin-bottom: 5%;
		margin-top: 5;
	}
	button {
		margin-top: 2%;
		margin-left: 0;
		padding: 0
	}
	.search>input {
		margin-top: 2%;
		margin-bottom: 2%;
	}
	.options {
		margin-top: 0%;
	}
	p {
		margin-top: 6%;
		width: 100%;
	}
}