
@charset "UTF-8";

* {
	box-sizing: border-box;
	font-family: system-ui;
}
p {
	margin: 0px;
	text-align: center;
	font-size: 20px;
	color: white;
	background-color: #2ca735;
	padding: 10px;
}
.navbar {
	display:flex;
    background-color: #2ca735;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.nav-item a {
    padding-left: 0px;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    justify-content: center;
   
}
.logo img{
	width:30%;
}
.global{
	display:flex;
	justify-content: center;
	flex-direction: row;
	align-items:flex-start ;
	margin-top: 5%;
}
.item {
    flex: 1;
    display: flex;
    flex-direction: row;
    max-width: 30%;
    margin-left: 3%;
    margin-right:5%;
    margin-bottom: 3%;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    padding: 2%;
    flex-direction: colum;
}
.container {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	min-width: 50%;
	width: 50%;
	max-width: 70%;
	box-shadow: 5px 5px 20px;
}

.form {
	margin-top: 1em;
}

.input-container,
.button-container {
	display: flex;
}

.input-c1,
.retrait {
	margin-left: 5%;
	margin-right: 5%;
	flex: 1;
}
.retrait{
	border: solid 1px black;
	padding :5px;
	
}


.formRetrait .titre {
	margin-bottom: 1px;
	padding-bottom: 20px;
	position: relative;
	display: inline-block;
	margin-bottom: 5px;
	font-weight:450;
	align-content: center;
	align-items: center;
}
.formRetrait input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	font-size: 14px;
	padding: 10px;
	width: 100%;


}


button {
	background-color: #2ca735;
	border: 2px solid #2ca735;
	border-radius: 4px;
	color: #fff;
	font-size: 16px;
	text-align: center;
	padding: 10px;
	margin: 3% 5% 5% 5%;
	cursor: pointer;
	flex: 1;
}
.button-container{
	display: flex;
	align-items: center;
	justify-content: center;
}

