@charset "UTF-8";
@import 'form_control.css';

* {
	box-sizing: border-box;
	font-family: system-ui;
}

p {
	margin: 0px;
	text-align: center;
	font-size: 20px;
	color: white;
	background-color: #2ca735;
	padding: 10px;
}

.alert {
	padding: 20px;
	background-color: #f44336;
	color: white;
	display: none;
}

.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
}

.closebtn:hover {
	color: black;
}

body {
	background-color: #0080ff;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
}

.container {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	min-width: 50%;
	width: 50%;
	max-width: 70%;
	box-shadow: 5px 5px 20px;
}

.form {
	margin-top: 1em;
}

.input-container,
.button-container {
	display: flex;
}

.input-c1,
.input-c2 {
	margin-left: 5%;
	margin-right: 5%;
	flex: 1;
}

button {
	background-color: #2ca735;
	border: 2px solid #2ca735;
	border-radius: 4px;
	color: #fff;
	font-size: 16px;
	text-align: center;
	padding: 10px;
	margin: 3% 5% 5% 5%;
	cursor: pointer;
	flex: 1;
}

@media screen and (max-width: 800px) {
	.container {
		max-width: 100%;
		width: 100%
	}
	.button-container,
	.input-container {
		flex-direction: column;
		width: 100%;
	}
}